.landingpage {
    display: grid;
    place-content: center;
    /* background-image: url("../images/school.jpg"); */
    /* background-position: center;
    background-size: cover; */
}

.landingpage__choice {
    box-shadow: 8px 10px 30px -10px gray;
    border-radius: 0.5rem;
    width: 40vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.choice__btn {
    height: 50%;
    width: 80%;
    border-radius: 0.2rem;
    border: none;
    transition: 300ms;
    font-size: 1.5rem;
    display: grid;
    place-content: center;
    /* box-shadow: 0px 0px 1px black; */
}
.choice__btn:hover {
    transition: ease-out 300ms;
    transform: translateY(-5px);
    transform: scale(1.05);
}


.choice__login {
    background-color: #4ADE80;
    color: #F5F3FF;
}
.login:hover {

}

.choice__signup {
    background-color: #5B21B6;
    color: #F5F3FF;
}