.navigation {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 5% 95%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}


.nav {
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 90%;
    font-size: 32px;
}

.nav__darkmode {
    display: grid;
    place-items: center;
}

.nav__group {
    display: grid;
    row-gap: 1rem;
    place-content: center;
}